<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <a href="./book/">测试1</a>
    <h3>method_____{{request.method}}</h3>
    <h3>path_____{{request.path}}</h3>
    <h3>get_full_path_____{{request.get_full_path}}</h3>
    <h3>GET___{{request.GET.get}}</h3>
    <form method="post" action="/book/">
        {%csrf_token%}
        <input type="submit" value="POST">
    </form>
    <a href="/redirect/">跳转</a>

    <hr>
</body>
</html>