{%extends 'base.html'%}
{% load custom_Filter %}
{%block title%}{{Tem_title}}{%endblock title%}
{%block div%}
<a href="/book/"><h3>返回上一级</h3></a>
<h2>图书名称: {{tem_book}}</h2>
{% for hero in tem_herolist%}
    {%if hero.hcomment|length == 3%}
        <div>{{forloop.counter}}:{{hero.hname}} 会的功夫是{{hero.hcomment}}</div>
        <hr>
    {% else %}
        <hr>
        <hr>
        <div>不满足条件的是{{hero.hname}}</div>
        <hr>

    {% endif %}
    <p>{%empty%}看看看着里</p>
{%endfor%}
{%for boo in books%}
    {%if boo.id|mos:2 == 9 %}
        <hr>
        <div>
            满足条件的{{boo.btitle}}
            <hr>
            id是{{ boo.id }}
        </div>
    {%else%}
        <div>不满足条件的{{boo.btitle}}
        <hr>
        id是{{ boo.id }}
        </div>
    {% endif %}
{%endfor%}
{%endblock div%}
