<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script >
        $(function(){
            $("#in").click(function(){
                $.get("/jubu/",function(jsdict){
                    $.each(jsdict.booklist,function(x,book){
                        ostring = $("<li>"+book.name+"</li>")
                        $("#ul").prepend(ostring)

                    });
                });
            });
        });
    
    </script>
</head>
<body>
    <input type="button" id="in" value="点点">
    <hr>
    <h1>
        图书
    </h1>
    <ul id="ul">
        

    </ul>

    
</body>
</html>